<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- client.html - Fragmento Thymeleaf -->
<div th:fragment="clients" class="container-fluid py-5 bg-light">
    <div class="container text-center">
        <h2 class="mb-4">Nuestros clientes</h2>

        <!-- Carrusel -->
        <div id="clientCarousel" class="carousel slide clients-carousel" data-bs-ride="carousel">
            <!-- Indicadores -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#clientCarousel" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#clientCarousel" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#clientCarousel" data-bs-slide-to="2"></button>

            </div>

            <!-- Slides -->
            <div class="carousel-inner">
                <!-- Cliente 1 -->
                <div class="carousel-item active text-center p-4">
                    <img th:src="@{/images/creceagro.jpg}" alt="Creceagro" class="client-logo mb-1">
                    <h3>Creceagro</h3>
                    <p class="lead">Soluciones agrícolas.</p>
                </div>

                <!-- Cliente 2 -->
                <div class="carousel-item text-center p-4">
                    <img th:src="@{/images/microfertisa.jpeg}" alt="Microfertisa" class="client-logo mb-1">
                    <h3>Microfertisa</h3>
                    <p class="lead">MICROFERTISA.</p>
                </div>

                <!-- Cliente 3 -->
                <div class="carousel-item text-center p-4">
                    <img th:src="@{/images/ricardo_herrera.jpg}" alt="Ricardo Herrera" class="client-logo mb-1">
                    <h3>Ricardo Herrera</h3>
                    <p class="lead">R H</p>
                </div>
                <!-- Cliente 4 -->
                <div class="carousel-item text-center p-4">
                    <img th:src="@{/images/porkco.jpg}" alt="Pork Co" class="client-logo mb-1">
                    <h3> CI Pork Co</h3>
                    <p class="lead">Pork Co</p>
                </div>
            </div>

            <!-- Flechas de navegación -->
            <button class="carousel-control-prev" type="button" data-bs-target="#clientCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#clientCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
</div>
</html>
