<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Surge Partners | Quiénes Somos</title>
    <link rel="icon" th:href="@{/images/favicon.png}" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
          crossorigin="anonymous">

    <!-- Tu CSS externo -->
    <link rel="stylesheet" th:href="@{/css/about.css}">
    <link th:href="@{/css/social_media.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
</head>
<body>

<!-- Header -->
<div th:insert="~{fragment/header :: header}"></div>

<!-- Contenido principal -->
<main class ="container-fluid mt-4">
    <div class="row">
        <div class="col-lg-7 about-image-container d-flex align-items-center">
            <img th:src="@{/images/servicios_surge.jpg}" alt="Equipo Surge Partners" class="about-image">
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-12 p-0">
            <h2 class="mt-5 display-5 fw-bold">Acerca de Nosotros</h2>
            <p class ="lead ">Fundada en el 2024, se especializa en proporcionar servicios que facilitan la gestión contable, asegurando a las empresas el cumplimiento
                de las regulaciones legales y fomentando su desarrollo sostenible. La compañía ha concentrado su experiencia en atender a clientes del
                sector industrial, comercial y de servicios del sector real, destacándose por su enfoque personalizado y profesional
                en la mejora de procesos internos.</p>

            <h2 class="mt-5 display-5 fw-bold">Misión</h2>
            <p class ="lead ">Liderar la gestión integral de los servicios contables, tributarios, de Revisoría Fiscal y Auditoría Externa para nuestros clientes,
                asegurando el estricto cumplimiento de sus obligaciones fiscales y contables, así como la transparencia y confiabilidad de su
                información financiera. Nos dedicamos a optimizar eficientemente sus recursos financieros y a generar valor estratégico que impulse
                su sostenibilidad y crecimiento empresarial, actuando siempre dentro del marco normativo vigente y con los más altos estándares de
                profesionalismo y ética.</p>

            <h3 class="mt-5 display-5 fw-bold">Visión</h3>
            <p class ="lead ">Ser reconocidos como el socio estratégico líder en servicios contables, tributarios, de Revisoría Fiscal y Auditoría Externa,
                distinguiéndonos por nuestra excelencia en la gestión integral, nuestra capacidad para generar valor tangible y sostenible para
                las organizaciones, y por ser impulsores clave en su crecimiento en un entorno dinámico y regulado. Aspiramos a ser referentes
                en innovación, confianza y aseguramiento de la información en el ámbito financiero y tributario.</p>
        </div>
    </div>
</main>

<!-- Footer -->
<div th:insert="~{fragment/footer :: footer-inner}"></div>
<div th:insert="~{fragment/whatsapp :: whatsapp-btn}"></div>


<!-- Script de Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</body>
</html>